ul {
    background-color: #52b79a;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}
ul li {
    text-decoration: none;
}

ul a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

.text-decoration-none{
    text-decoration: none;
}

ul a:hover {
    background-color: #53a8b7; 
    border-radius: 5px; 
}

.text-align-center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; 
}

.column ul {
    list-style-type: none; 
}

.image-container {
    text-align: center; 
}

.image-container img {
    display: inline-block;
}

body {
    background-color: #52b79a;
    color: white; 
    text-decoration: none;
}

.login-container {
    margin-top: 10px;
    background-color: #52b79a;
    justify-content: center;
    min-height: 30em;
}
.login-form {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #52b79a;
}

/* Cox note: demo move to Bootstrap */
.custom-button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #52b79a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    display: inline-block;
    color: whitesmoke
}

.list-unstyled li {
    list-style-type: none;
    padding-left: 0;
}

/* Cox note: explain the override of the bootstrap via js/css to define custom container styling */
.custom-container {
    background-color: #52b79a; 
}

.responsive-img-container {
    max-width: 100%;
    height: auto;
    text-align: center; 
}

@media (max-width: 768px) {
    .responsive-img-container {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .responsive-img-container {
        max-width: 80%;
        height: auto;
    }
}

@media (max-width: 320px) {
    .responsive-img-container {
        max-width: 65%;
        height: auto;
    }
}

.responsive-img-logo {
    max-width: 60%;
    height: auto;
    text-align: center; 
}

@media (max-width: 768px) {
    .responsive-img-logo {
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .responsive-img-logo {
        max-width: 45%;
        height: auto;
    }
}

@media (max-width: 320px) {
    .responsive-img-logo {
        max-width: 40%;
        height: auto;
    }
}
