ul {
    background-color: #52b79a;
    padding: 10px 0;
    text-align: center;
}

ul a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

ul a:hover {
    background-color: #555; 
    border-radius: 5px; 
}

.text-align-center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; 
}

.column ul {
    list-style-type: none; 
}

.image-container {
    text-align: center; 
}

.image-container img {
    display: inline-block;
}

body {
    background-color: #52b79a;
    color: white; 
}

/* Cox note: demo move to Bootstrap */
.custom-button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #52b79a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    display: inline-block;
    color: whitesmoke
}